@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.button-nav {
  background-color: var(--primary-color);
  border: none;
  color: white;
  margin-left: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  cursor: pointer;
  font-weight: bold;
}

.button-nav:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.logo {
  display: flex;
  color: white;
  align-items: center;
  
}

.logo > img {
  width: 40px;
  filter: invert(100%);
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: var(--primary-color);
  height: 60px;
  z-index: 2;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }



  .nav-list {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 3;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
